/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


/*----------- Custom Properties -----------*/

:root {
    --page-color: #fff8f8;
    --side-bar-color: #1b56fd;
    --main-bg-color: #e9dfc3;
    --icon-color: brightness(0) saturate(100%) invert(90%) sepia(17%);
}

/*------------- Header Style ---------------*/
.header {
    background-color: var(--page-color);
}



/*------------- Side-Bar Style ---------------*/
.side-bar {
    background-color: var(--side-bar-color);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--main-bg-color);
    padding: 1em;

    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 1.5rem;
}

.side-bar li {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
    margin-bottom: 5px;
}

.side-bar li > img {
    filter: var(--icon-color);
    height: 1.5rem;

    align-self: center;
}

.side-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-bar a {
    color: var(--main-bg-color);
    text-decoration: none;
}

/*------------- Main Style ---------------*/
.main {
    background-color: var(--main-bg-color);
}

/*------------- Main Layout -------------- */
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: auto;
}

.side-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}